<h1>Log In</h1>

<form method="post" action="/login">
  <input name='username' id='username' type='text'></input>
  <br/>
  <input name='password' id='password' type='password'></input>
  <br/>
  <input type='submit' id='sign_in' name="submit"></input>
</form>