<h1>Log In</h1>
<h1>Welcome, Jeff!</h1>
<p class='flash'>failed</p>

<form method="post" action="/login">
  <input name='username' id='username'></input>
  <br/>
  <input name='password' id='password'></input>
  <br/>
  <input type='submit' id='sign_in' name="submit"></input>
</form>